<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script type="text/javascript" src={% static "js/jquery-3.3.1.min.js" %}></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js" integrity="sha256-NjbogQqosWgor0UBdCURR5dzcvAgHnfUZMcZ8RCwkk8=" crossorigin="anonymous" type="text/javascript"></script>
    <title> {{ title }} </title>
     <link rel="stylesheet" id="pri" href="{% static "css/style.css" %}" >
     <link rel="stylesheet" id="sec" href="{% static "css/secondo.css" %}" >
</head>

<body>
<script language="JavaScript" type="text/javascript">
document.getElementById('sec').disabled=true;
</script>


<div class="conteiner">
<nav class="navbar navbar-inverse" >
    <form class="container-fluid">

        <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
		<span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="/wsgi/wsgi.wsgi/home/">RAVE</a>

        </div>
        
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" >
            <li class="deactive">
            <li><a name="casa" href="/wsgi/wsgi.wsgi/home/" id="homp" >Home</a></li>
        </ul>

         <ul class="nav navbar-nav navbar-right" id="myNavbar">

             <li><a id="login-form-link" href="/wsgi/wsgi.wsgi/loginuser/"><span class="glyphicon glyphicon-user"></span> Login </a></li>
            <li><a id="register-form-link" href="/wsgi/wsgi.wsgi/registeruser/"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>

            {% if user.is_authenticated %}
             <li><a href="/wsgi/wsgi.wsgi/logout/"> Logout  </a></li>
             <script type='text/javascript'>
                 $("#register-form-link").hide();
                 $("#login-form-link").hide();
             </script>
             {% endif %}

         </ul>
          {% if title == 'home' %}
        <a id="barra" class="navbar-form navbar-top" role="serch"></a>

       </div>
            <input id="searchTerm" name="search" class="form-control" placeholder="Search">

      <ul></ul>
        {% endif %}

      </form>

    </nav>

</div>

<!--barra ricerca-->

{% if title == 'home' %}

<!--out put ricerca -->
 <div id="output" class="cout"><script type="text/javascript" src="{% static "js/apiwiki.js" %}"></script></div>



{% endif %}

{% if title == 'page' %}
        <div id="annota">
            <div id="info" class="informa"></div>
            <div id="article" class="article"></div>
            <div id="cros" class="croce"></div>

<script type="text/javascript" src="{% static "js/page.js" %}"></script>

{% if user.is_authenticated %}

<script  type="text/javascript" src="{% static "js/annotator.min.js" %}"></script>

<script  type="text/javascript" src="{% static "js/annotator-mover.min.js" %}"></script>

<script  type="text/javascript" src="{% static "js/x-path-range.min.js" %}"></script>

<script  type="text/javascript" src="{% static "js/wikirefAnnotator.js" %}"></script>
    <script type="text/javascript">

    var user = "{{ user.username }}";
    var annRootElement = document.getElementById("annota");


        var app = new annotator.App();
        // initialize annotator
        var uri = window.location.pathname;
        var pageUri = function () {
        return {
        beforeAnnotationCreated: function (ann) {
        ann.uri = uri;
    }
    };
    };
        // Default permissions
        var defaultPermissions = function () {
        return {
        beforeAnnotationCreated: function (ann) {
        ann.permissions = {};
        ann.permissions.update = [user];
        ann.permissions.delete = [user];
    }
    };
    };

        app.include(annotator.ui.main, {
        viewerExtensions: [
        wikirefAnnotator.viewerExtension
        ],
        editorExtensions: [
                    annotatorMover.getEditorExtension({
                        app: app,
                        element: annRootElement
                    })
                ],

        element: annRootElement,
        requestedPermissions: ["read"]
    });

        app.include(annotator.storage.http, {
        prefix:"/wsgi/wsgi.wsgi/annotator",
    });

        app.include(annotator.identity.simple);
        app.include(pageUri);
        app.include(defaultPermissions);
        app.include(wikirefAnnotator.getAppExtension);

 setTimeout(function(){
        app.start().then(function () {
        app.ident.identity = user;
        app.annotations.load({uri: uri});
    });

    }, 3000);

</script>
        </div>
{% endif %}
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>
