<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script type="text/javascript" src={% static "js/jquery-3.3.1.min.js" %}></script>



    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





    <title> {{ title }} </title>

     <link rel="stylesheet" href={% static "css/style.css" %}>
     <link rel="stylesheet" href={% static "css/login.css" %}>
</head>

<body>



<nav class="navbar navbar">
    <form class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">RAVE</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav" >

            <li class="deactive">

                <a href="#" id="homp" >Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a id="login-form-link" href="#"><span class="glyphicon glyphicon-user"></span> Login </a></li>
            <li><a id="register-form-link" href="#"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
        </ul>
        </div>
<!--barra ricerca-->
        <div id="barra" class=" flipkart-navbar-search ">
            <div class="form-group">
                <input name="trova" type="text" class="form-control" placeholder="Search">
            </div>
        </div>


    </form>
</nav>




{% if login %}
<!--login-->

<div class="container">
    <div class="login">
        <h1 class="login-heading">
            <strong>Welcome</strong> </h1>
        <form method="post" id="campl">
            <input type="text" name="username" placeholder="Username" value="{{ request.form.username }}" required="required" class="input-txt" />
            <input type="password" name="password" placeholder="Password" required="required" value="{{
          request.form.password }}" class="input-txt" />
            <div class="login-footer">
                <a id="forgo" href="#" class="lnk">
                    I've forgotten something
                </a>
                <button type="submit" class="btn btn--right">Sign in  </button>

            </div>
        </form>
       {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
   {% endif %}
    </div>

</div>

<!--register-->

<div class="container">
    <div class="register">
        <h1 class="login-heading">
            <strong>Welcome</strong></h1>
        <form method="post" id="campir">
            <input type="text" name="user" placeholder="Username" required="required" class="input-txt" />
            <input type="text" name="user" placeholder="Email" required="required" class="input-txt" />
            <input type="password" name="password" placeholder="Password" required="required" class="input-txt" />
            <input type="password" name="password" placeholder="Ripeti Password" required="required" class="input-txt" />
            <div class="login-footer">
                <button type="submit" class="btn btn--right">Register  </button>

            </div>
        </form>
    </div>
</div>
{% endif %}

{% if recupero %}

<!--recupero-->

<div class="container">
    <div class="recovery">
        <h1 class="login-heading">
            <strong>Recovery e-mail and password</strong> </h1>
        <form method="post" id="campi">
            <input type="text" name="user" placeholder="Username or e-mail" required="required" class="input-txt" />
            <div class="login-footer">

                <button type="submit" class="btn btn--right">Send  </button>

            </div>
        </form>
   </div>
</div>
{% endif %}
<!--prova funziona  -->
<!--
<h1>hello bla bla bla</h1>
<h3> {{ error}} </h3>>
<h1><a href="./login">clicca qui</a></h1>
-->



<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
 
</body>



 



</html>
