{% extends "base.html" %}

{% block content %}
{% load static %}
<div id="alertContainer"></div>
<div class="container">
    <div class="register">
        <h1 class="login-heading">
            <strong>Welcome</strong></h1>
        <form id="register_form" action="/wsgi/wsgi.wsgi/register/" method="post">
            <div class="modal-body">
                {% load crispy_forms_tags %}
                {% crispy register_form %}
            </div>
            <div class="modal-footer">
                <button id="reg_cancel" type="reset" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static "js/register.js" %}"></script>

{% endblock %}