<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>



    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title> {{ title }} </title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" id="pri" >
     <link rel="stylesheet" href="{{ url_for('static', filename='css/secondo.css') }}" id="sec" >
</head>

<body>
<script language="JavaScript" type="text/javascript">
document.getElementById('sec').disabled=true;
</script>


<div class="conteiner">
<nav class="navbar navbar-inverse" >
    <form class="container-fluid">

        <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
		<span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="{{url_for("home")}}">RAVE</a>

        </div>
        
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" >
            <li class="deactive">
            <li><a name="casa" href="{{url_for("home")}}" id="homp" >Home</a></li>
        </ul>

         <ul class="nav navbar-nav navbar-right" id="myNavbar">

             <li><a id="login-form-link" href="{{url_for("login")}}"><span class="glyphicon glyphicon-user"></span> Login </a></li>
            <li><a id="register-form-link" href="{{url_for("register")}}"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>

            {% if current_user.is_authenticated %}
             <li><a href="{{url_for("logout")}}"> {{loginout}}Logout  </a></li>
             <script type='text/javascript'>
                 $("#register-form-link").hide();
                 $("#login-form-link").hide();
             </script>
             {% endif %}

         </ul>
          {% if cerca %}
        <a id="barra" class="navbar-form navbar-top" role="serch"></a>

       </div>
            <input id="searchTerm" name="search" class="form-control" placeholder="Search">

      <ul></ul>
        {% endif %}

      </form>

    </nav>

</div>

<!--barra ricerca-->

{% if cerca %}



<!--out put ricerca -->
<div id="output" class="cout">


<script type="text/javascript" src="{{ url_for('static', filename='js/apiwiki.js') }}"></script>
</div>

{% endif %}

{% if page %}

<div id="info" class="informa"></div>



<div id="article" class="article">


<script type="text/javascript" src="{{ url_for('static', filename='js/page.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/annotator.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/annotator_start.js') }}"></script>


</div>   <div id="cros" class=" croce"></div>
{% endif %}


{% block content %}

{% endblock %}



<!--<script type="text/javascript" src="{{ url_for('static', filename='js/apiwiki.js') }}"></script>-->




</body>













</html>
