{% extends "base.html" %}

{% block content %}
{% if error %}

<script type='text/javascript'>
    alert( "{{ error }}" );
</script>
{% endif %}


{% if login %}
<!--login-->
<body>
    <div class="container">
        <form class="register">
            <h1 class="login-heading">
                <strong>Please sign in</strong> </h1>
      <form class="form-signin" method="post"  action="{{url_for("login")}}">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="input-txt" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name= "password" id="inputPassword" class="input-txt" placeholder="Password" required autofocus>
            <div class="login-footer">
        <button class="btn btn--right" formmethod="POST" type="submit"> Sign in</button>
            </div>
        </form>
        </div>
</body> <!-- /container -->

{% endif %}

<!--register   btn btn--right -->

{% if register %}
<div class="container">
    <div class="register">
        <h1 class="login-heading">
            <strong>Welcome</strong></h1>
        <form method="post" id="campir" action="">
            <input type="text" name="username" placeholder="Username" required="required" class="input-txt" />
            <input type="text" name="email" placeholder="Email" required="required" class="input-txt" />
            <input type="password" name="password" placeholder="Password" required="required" class="input-txt" />

            <div class="login-footer">
                <button type="submit" class="btn btn--right">Register  </button>

            </div>
        </form>
    </div>
</div>
{% endif %}

{% if recupero %}

<!--recupero

<div class="container">
    <div class="recovery">
        <h1 class="login-heading">
            <strong>Recovery e-mail and password</strong> </h1>
        <form method="post" id="campi">
            <input type="text" name="user" placeholder="Username or e-mail" required="required" class="input-txt" />
            <div class="login-footer">

                <button type="submit" class="btn btn--right">Send  </button>

            </div>
        </form>
   </div>
</div>
{% endif %}





</body>

{% endblock %}
<!--prova funziona  -->
<!--
<h1>hello bla bla bla</h1>
<h3> {{ error}} </h3>>
<h1><a href="./login">clicca qui</a></h1>
-->

