@import url(https://fonts.googleapis.com/css?family=Tenor+Sans);



html {

  font-family: "Tenor Sans",sans-serif;
}

.collapse.navbar-collapse{
  font: 20px "Tenor Sans",sans-serif;
  font-family: "Tenor Sans",sans-serif;
}
.navbar.navbar-nav.navbar-right{
  font: 20px "Tenor Sans",sans-serif;
  font-family: "Tenor Sans",sans-serif;
}
.navbar-brand{
  font-size: 2em;
  color: black;
}


.btn {
  font-size: 2em;
  border: none;
  background: #5D92BA;
  color: white;
}
.btn--right {
  float: right;
}
.icon {
  display: inline-block;
}
.icon--min {
  font-size: .9em;
}
.lnk {
  font-size: .9em;
  line-height: 3em;
  color: white;
  text-decoration: none;
}

.form-control{
  padding: 20px;
}
#searchTerm{
  font: 30px "Tenor Sans",sans-serif;
  color: #5D92BA;
}

.navbar-inverse .navbar-nav>li>a{
  font: 20px "Tenor Sans",sans-serif;
  color: #cffcff;
}
.navbar-inverse .navbar-brand{
  color: #cffcff;
}

.container-fluid{
  background-color: #5D92BA;
}

/*
.cout,h2{
  color:#5D92BA;
  font-size: large;
}
*/

.annotator-hl.annotator-hl-invalid{

  background-color: red;

}

.annotator-hl.annotator-hl-this-user{

  background-color: chartreuse;
}

.wikitable.succession-box{
  margin: 0px !important;
}
.navbox{
  padding: 0px !important;
}

#cane {
  top: -44px;
}

/*
#cane{
  text-align: justify;
  background-color: white!important;
  margin-left: 10%;
  margin-right: 10%;!important;
}

#cane2{
  text-align: justify;
  background-color: white!important;
  margin-right: 10%;!important;
  margin-left: 10%;
}

#cane3{
  text-align: justify;
  background-color: white!important;
  margin-right: 10%;!important;
  margin-left: 10%;
}

*/

.croce,h2{
  font-size: larger;
  background-color: rgba(93, 146, 186, 0.49);
}


p{
  color:black;
  font-family: "Tenor Sans",sans-serif;
}

.article{
  font-size: medium;
  color: black;
  text-align: justify;
  margin-right: 10%;
  margin-left: 10%;
}

.informa{
  font-size: small;
  background-color: orange;
}


div.refbegin.columns.references-column-width{

  font-size: smaller;
}


ol.references{

  font-size: smaller;
}



.cout{
  width: 100%;
  text-align: justify;
  font-size: x-large;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-template-rows: minmax(1fr, 110px);
  grid-gap: 20px;
}

ol.ul{
  width: 100%;
  font-family: "Tenor Sans",sans-serif;
  text-align: justify;
  margin-right: 10%;
  margin-left: 10%;
}

.croce{
  background-color: white;!important;
  width: 100%;
  font-family: "Tenor Sans",sans-serif;
  text-align: justify;
  margin-right: 10%;
  margin-bottom: 10%;
}

/*.container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}*/

.login {
  margin-top:auto;
 /* width: 450px;*/
}

.login-heading {
  font: 3em/70px "Tenor Sans", sans-serif;
  color: #5D92BA;
  text-align: center;
}


/*

.navbar-toggle.pull-left {

}


.input-txt {
  width: 100%;
  padding: 20px 10px;
  background: #5D92BA;
  border: none;
  font-size: 2em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}


.input-txt:-moz-placeholder {
  color: #81aac9;
}
.input-txt:-ms-input-placeholder {
  color: #81aac9;
}
.input-txt::-webkit-input-placeholder {
  color: #81aac9;
}


.input-txt:focus {
  background-color: #4478a0;
}

.register{
  padding-top: 12.5%;
}


.login-footer {
  margin: 10px 0;
  float: left;
  width: 100%;
}


*/